<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Korjaamobileet - <%= random_of('Kumoaa', 'Korjaa') %> todellisuutesi</title>
    <meta name="keywords" content="Korjaamo, bileet, baari" />
    <meta name="description" content="Korjaamo-baarin fanisivut" />
    <%= stylesheet_link_tag 'jquery.datepick' %>
    <%= stylesheet_link_tag 'main', 'tellajoke', 'jquery.jgrowl', 'scaffold' %>
    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <%= javascript_include_tag 'jquery-ui-1.8rc3.custom.min' %>
    <%= javascript_include_tag 'jquery.datepick', 'jquery.datepick-fi' %>
    <%= javascript_include_tag 'jquery.jgrowl' %>
    <%= javascript_include_tag 'jquery.autogrow-textarea' %>
    <%= javascript_include_tag 'jquery.placeholder' %>
    <%= javascript_include_tag 'vote_circle' %>
    <%= javascript_include_tag 'application' %>


  </head>
  <body>
    <%= render :partial => 'shared/flash_messages' %>
    <div id="main">
      <!-- header begins -->
      <div id="header">
	<div id="buttons">
          <div class="but1"><%= link_to('Korjaamobileet', root_path) %></div>
          <div class="but2"><%= link_to('Uutiset', root_path(:anchor => 'news')) %></div>
          <div class="but3"><%= link_to('Pikalinkit', root_path(:anchor => 'hotlinks')) %></div>
          <div class="but4"><%= link_to('Vitsit', jokes_path) %></div>
          <div class="but5"><%= link_to('Taksi', root_path(:anchor => 'taxi')) %></div>
	</div>
      </div>
      <!-- header ends -->
      <div id="cont_out">
	<!-- content begins -->
	<div id="content">
	  <%= yield %>
	  <div style="clear: both"></div>
	</div>
      </div>
      <!-- content ends -->
      <!-- footer begins -->
      <div id="footer">
	Copyright 2010. Designed by <a href="http://www.metamorphozis.com/" title="Flash Templates">Flash Templates</a>
      </div>
      <!-- footer ends -->
    </div>
  </body>
</html>
